:root {
  --gradient-blue-green: linear-gradient(90deg, #0a58ca 0%, #20c997 100%);
  --gray-100: #f8f9fa;
  --gray-800: #343a40;
  --dashboard-panel-fill: rgba(52, 58, 64, 0.2);
}

body {
  min-height: 100vh;
  background: var(--gradient-blue-green);
}

.sidebar {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

main {
  height: 2000px;
}
